<h2> Listagem de Clientes </h2>

<table class="table table-striped">
    <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Status</th>
        <th>Opções</th>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of _clientes">
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.status }}</td>
            <td>
                <a class="form-check-inline" [routerLink]="['/clientes/detalhes', cliente.id]">Detalhes</a>
                <a class="form-check-inline" [routerLink]="['/clientes/editar', cliente.id]">Editar</a>
                <a class="form-check-inline" routerLink="" (click)="excluir(cliente.id)">Excluir</a>
            </td>
        </tr>
    </tbody>

</table>
